// COLOR
$color-primary-dark: #45949C;
$color-primary-light: #B0DAD5;
$color-secondary-dark: #E29578;
$color-secondary-light: #FFDDD2;
$color-tertiary-dark: #414444;
$color-tertiary-light: #EDF6F9;

$color-text-dark: #293132;
$color-text-light: #EAE8FF;

// GRID
$grid-width: 110rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 3rem;