.header {
    position: relative;
    height: 22rem;
    background-color: $color-primary-light;

    &__logo-text {
        position: absolute;
        top: 5%;
        left: 10%;
    }

    @media screen and (max-width: 793px) {
        height: 40rem;
    }
    @media screen and (max-width: 500px) {
        height: 25rem;
    }
}