/* reset */
*,
*::after,
*::before {
    margin: 0; padding: 0;
    box-sizing: inherit;
}

html {
    /*10pxs font-size on default browser settings*/
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: $color-tertiary-light;
}