.header__logo-text {
    font-family: 'Cookie', cursive;
    font-size: 15rem;
    display: inline-block;
    background-image: url(../../images/dan-gold-4-veggies.jpg);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}